<div
  gdAreas.gt-sm=""
  gdAreas.gt-sm="header header header header header header header header header header header header |
  menu menu menu menu menu menu menu menu menu menu menu menu |
  lateral lateral contenido contenido contenido contenido contenido contenido contenido contenido . . |
  . pie pie pie pie pie pie pie pie pie pie . "
  gdAreas.sm="header header header header header header header header |
  menu menu menu menu menu menu menu menu  |
  lateral lateral contenido contenido contenido contenido contenido contenido |
  . pie pie pie pie pie pie  . "
  gdAreas.xs="header header header header |
  menu menu menu  |
  lateral lateral contenido contenido |
  . pie  pie  . "
  gdGap="16px"
>
  <div id="header" gdArea="header">
    <Header><h1>Titulo Website</h1></Header>
  </div>

  <div
    id="menu"
    gdArea="menu"
    gdAreas.gt-sm="rojo azul amarillo verde rosa . . . . . . ."
    gdAreas.sm="rojo azul amarillo verde rosa . . . . ."
    gdAreas.xs="rojo azul | amarillo  verde | rosa  ."
  >
    <div class="elemento rojo" gdArea="rojo">Uno</div>
    <div class="elemento azul" gdArea="azul">Dos</div>
    <div class="elemento amarillo" gdArea="amarillo">Tres</div>
    <div class="elemento verde" gdArea="verde">Cuatro</div>
    <div class="elemento rosa" gdArea="rosa">Cinco</div>
  </div>

  <div id="lateral" gdArea="lateral">
    <div class="elemento rojo" gdArea="rojo">Uno</div>
    <div class="elemento azul" gdArea="azul">Dos</div>
    <div class="elemento amarillo" gdArea="amarillo">Tres</div>
    <div class="elemento verde" gdArea="verde">Cuatro</div>
    <div class="elemento rosa" gdArea="rosa">Cinco</div>
  </div>

  <div
    id="contenido"
    gdArea="contenido"
    gdAreas.gt-sm=". . . . . ."
    gdAreas.md=". . . . . "
    gdAreas.sm=". . . "
    gdAreas.lt-sm=". ."
    gdGap="20px"
  >
    <div *ngFor="let card of users" class="card1">
      {{ card }}
    </div>
  </div>

  <footer id="pie-pagina" gdArea="pie">master en css</footer>
</div>
